/* Tipografía */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;700&display=swap');

/* Variables */
:root {
  --primario: #e91e63;
  --primario-gradient: #e91e6369;
  --bg: #ffffff;
    font-family: "Montserrat";
  --h1: 48px;
  --h2: 39px;
  --h3: 32px;
  --h4: 25px;
  --h5: 20px;
  --h6: 16px;
  --gradient: linear-gradient(60deg, var(--primario) 0%, var(--primario-gradient) 100%);
  --gradient-alt: linear-gradient(60deg, var(--primario-gradient) 0%, var(--bg) 100%);
  --transition: all 0.4s ease-in-out;
  --transition-links: transform 0.25s ease-out;
  --transition-modes: all 500ms ease-in-out, color 1000ms fill 1000ms path 1000ms ease-in-out;
}

/* Base */
body {
  font-weight: 300;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

h1 {
  font-size: var(--h1);
}

h2 {
  font-size: var(--h2);
}

h3 {
  font-size: var(--h3);
}

h4 {
  font-size: var(--h4);
}

h5 {
  font-size: var(--h5);
}

h6 {
  font-size: var(--h6);
}

ul li {
  list-style-type: none;
}

ul li a {
  text-decoration: none;
  color: black;

}

@media screen and (max-width: 415px) {
  :root {
  --h1: 48px;
  --h2: 39px;
  --h3: 32px;
  --h4: 25px;
  --h5: 20px;
  --h6: 16px;
  }
}

/* Componentes */
.header {
  display: flex;
  justify-content: space-between;
  margin-top: 0px;
  position: fixed;
  background: white;
  width: 100%;
  padding-left: 9%;
  z-index: 100;
}


.nav {
  flex: 1;
}

.nav ul {
  display: flex;
  font-size: var(--h5);
  column-gap: 9%;
  padding-inline-start:0;
  background-color: rgba(240, 255, 255, 0.487);
}

.nav ul li:hover {
	text-decoration: none;
	background: var(--primario):
}
/* Crear este formato registrando un click para mantenerlo en active */

.nav {
  position: relative;
}

.nav li {
  position: relative;
}

.nav li a[href*="proyectos"]::after {
 position: absolute;
 right: -300px;
  content: url(./assets/chevron-down.svg);
}

/* Acomodar chevron */

.nav a {
  display: flex;
  /* flex-direction: column-reverse;
  align-items: center; */
  transition: var(--transition);
}

.nav a:hover {
  color:black;
}

.nav a::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 10px;
  bottom: 5px;
  left: 0;
  background-image: var(--gradient);
  transform-origin: bottom right;
  transition: var(--transition-links);
}



.nav a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.nav a:hover::before {
  filter: drop-shadow(1px 0 2px var(--primary));
}

/* @media screen and (max-width: 415px) {
  .nav a {
    font-size: 15px;
  }
} */

.submenu-proyectos {
  position: absolute;
  top: 50px;
  display: flex;
  flex-direction: column;
  /* border: 2px solid black; */
}
.submenu-proyectos li {
  line-height: 2;

}
/* .submenu-proyectos li a {
color: white;
} */

/* .logo {
  margin-right: 41px;
  margin-top: 5px;
} */
.logo {
  color: var(--primario);
  font-size:var(--h1);
  font-weight:700;
  padding-right:20px;

}
.logo::before {
  content: ":";
  margin-right:-6px;

}
/* .inicio {
  display: table-cell;
  vertical-align: middle;
} */
.presentacion{
  display: flex;
  line-height: 100vh;
  align-items:center;
  gap:9%;
}

.piesimagen{
  font-size: var(--h6);
  display: flex;

  padding-left: 9%;
  padding-top: 0px;
  background-color: var(--bg);
}

.piesimagenderecha{
  font-size: var(--h6);
  display: flex;
  padding-left: 9%;
  padding-top: 0px;
  background-color: var(--bg);
  text-align: right;
}
.imagenes{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    position: relative;
}

@media screen and (max-width: 415px) {
  .imagenes{
      display: grid;
      grid-template-columns: 1fr;
      grid-column-gap: 20px;
      grid-row-gap: 20px;
      position: relative;
      max-width: 90vw;
      margin: 0 auto;
  }
}


.cuadroblanco{
  background-color: var(--bg);
}





.presentaciontexto{
text-align: left;
padding-left: 9%;
line-height: 37px;
font-size: var(--h4);
}

.caricatura{
/* padding-right:20px;
padding-left: 65%;
padding-top: 10%; */
}
.inicio {
  line-height: 100vh;

}

.nombre {
  font-size: var(--h2);
  font-weight: 300;
  color: var(--primario);
  text-align: center;
}

.nombre span {
  font-weight: 700;
}

.titulos{
  color: var(--primario);
  display: flex;
  font-size: var(--h2);
  column-gap: 9%;
  padding-inline-start:0;
  padding-left: 9%;
}

.titulosproyectos{
  color: black;
}

.flex-center {
  justify-items: center;
  align-items: center;
}


/* Utilities */
.flex {
  display: flex;
}

.flex-center {
  justify-items: center;
  align-items: center;
}

.grid {
  display: grid;
}

.grid-center {
  place-content: center;
}

.mx-auto {
  margin: 0 auto;
}

.text-center {
  text-align: center;
}

.font-normal {
  font-weight: 400;
}

.font-medium {
  font-weight: 500;
}

.font-bold {
  font-weight: 700;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.hidden {
  display: none;
  visibility: hidden;
}

.outline {
  outline: 2px solid black;
}

*/



